<% if @artist.albums.blank? %>
  <div class="text-center">
    <h1 class="header">Sin Albunes</h1> </br>
    <p class="error">El artista Selecionado no tiene Albunes disponibles</p>
    <%= link_to  "Volver", artists_path, class: 'btn btn-primary btn-lg' %>
  </div>
    
<% else %>

  <div class="row">
    <div class="col-sm-9">
      <h1><%= @artist.name%></h1>
      <p>Albums (<%= @artist.albums.count %>)</p>
      <div class="row">
        <% @artist.albums.each do |a|%>
          <div class="col-sm-4">
            <div class="card album-cards">
              <img class="card-img-top border-img" src="<%= a.image_url %>" alt="Card image cap">
              <div class="card-block">
                <p class="card-text"><%= a.name %></p>
                <p class="card-text"><%= a.released_at %></p>
              </div>
            </div>
          </div>
        <%end%>
      </div>
    </div>
    <div class="col-sm-3">
      <img src="<%= @artist.image_url %>" class="img-fluid border-img artist-image" alt="<%= @artist.name %>">
    </div>
  </div>


<% end %>